<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Group</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>sortBy</string>
			<key>Key</key>
			<string>SORTBY_KEY</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Titles</key>
			<array>
				<string>Most Recent</string>
				<string>Cheap First</string>
				<string>Expensive first</string>
				<string>Alphabetical</string>
				<string>Ascending quality</string>
				<string>Descending quality</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Max price</string>
			<key>Key</key>
			<string>title</string>
			<key>DefaultValue</key>
			<string>0-150</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Title</key>
			<string>Max price</string>
			<key>label</key>
			<string>Max price</string>
			<key>Key</key>
			<string>MAX_PRICE_KEY</string>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>150</integer>
			<key>DefaultValue</key>
			<integer>150</integer>
		</dict>
	</array>
</dict>
</plist>
